body {
  margin: 0;
  padding: 0;
}

/*Começo do Header*/

header {
  width: 100%;
  height: 7em;
  display: flex;
  background-color: pink;
}

header img {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 2em;
  top: 0.5em;
}

header ul {
  display: flex;
  position: absolute;
  right: 1em;
  top: 1.25em;
}

header li {
  list-style: none;
  margin: 0 20px;
}

header button {
  width: 110px;
  height: 45px;
  border: solid hotpink 1px;
  border-radius: 8px;
  background-color: inherit;
  color: white;
  font-size: 16px;
}

header button:hover {
  background-color: hotpink;
  color: white;
}

/*Fim do Header*/

/*Começo do Main*/

main img {
  height: 450px;
  width: 60%;
  margin: 20px 20%;
  border: solid deeppink 1px;
}

main h1 {
  font-size: 4em;
  margin: 50px 100px 15px 100px;
}

main h2 {
  font-size: 2em;
  margin: 0 100px;
}

main p {
  font-size: 1.5em;
  margin: 20px 100px;
}

.listinha {
  margin: 5px 100px 0 100px;
}

.listinha::before {
  content: "→ ";
  color: deeppink;
}

.rosa {
  color: deeppink;
}

.divisao {
  width: 90%;
  height: 2px;
  background-color: hotpink;
  margin: auto;
}

/*Fim do Main*/

/*Começo do Footer*/

footer {
  margin-top: 30px;
  display: flex;
  background-color: pink;
  padding: 5px;
}

footer img {
  height: 70px;
  width: 70px;
}

footer p {
  font-size: 20px;
  margin: auto 5px auto 150px;
}

footer ul {
  list-style: none;
  margin: auto 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}

/*Fim do Footer*/
